<!DOCTYPE html>
<html>
  <head>
    <!-- page title goes here -->
    <title>Design by John D.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- add your name or URL here -->
    <meta name="author" content="John D. Storey">
    <!-- add a description of your site/company/product here -->
    <meta name="description" content="Portfolio of John D.">
    <!-- add the keywords here that represent your site, an example few have been added -->
    <meta name="keywords" content="web design, creative, mobile, app, angular, angularjs, javascript, jquery, ux, user experience">
    <!-- add your name or URL here -->
    <meta name="publisher" content="http://johndangerstorey.com/">
    <meta name="rating" content="General">
    <meta name="revisit-after" content="30 days">
    <!-- this allows Google to follow your page -->
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Theme styles -->
    <link href="css/styles.css" rel="stylesheet" media="screen">
    <!-- media-queries -->
    <link href="css/media-queries.css" rel="stylesheet" media="screen">
    <!-- My Styles -->
    <link href="css/main.css" rel="stylesheet" media="screen">

    <!-- modernizr -->
    <script src="js/modernizr.custom.js"></script>

     <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38156316-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

  <!-- nav -->
  <nav class="navbar  navbar-fixed-top" role="navigation">
    <!-- container -->
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">d.</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse  navbar-collapse  navbar-ex1-collapse">
        <ul class="nav  navbar-nav">
            <li class="active">Home</li>
            <li><a href="openapparatus.html">Most Recent</a></li>
            <li><a href="http://johndangerstorey.svbtle.com/">Blog</a></li>
            <li><a href="shortcodes.html">Developer Site</a></li>
            <li><a href="John_Design&Dev.pdf">Resume</a></li>
        </ul>
      </div><!-- /navbar-collapse -->
    </div><!-- /container -->
  </nav><!-- /nav --> 

    <!-- masthead -->
    <div class="jumbotron">
      <h2 class="jumbotron--title">Open Apparatus</h2>
      <p class="jumbotron--sub-title">AngularJS <span class="icon-star"></span> Firebase <span class="icon-star"></span> Partial Design</p>
      <a href="http://www.openapparatus.com/#/" class="btn  btn--green">View Site</a>
    </div><!-- /masthead -->

        <!-- main-content -->
        <div class="container  main-content">

          <div class="row">

            <!-- left content -->
            <div class="col-lg-8  blog">

              <!-- blog post -->
              <img src="img/OAbig.jpg" class="blog-main-img  img-responsive" alt="blog main image" />

              <h4 class="blog-post-title">User Platform in Angular</h4>  
                <ul class="list-unstyled  tags  blog-tags">
                  <li><a href="http://www.openapparatus.com/#/">View Site</a></li>
                  <li><a href="https://github.com/johndangerstorey">GitHub</a></li>
                </ul>
              <h6 class="blog-post-sub-title">Going into this project I had little (and I'm talking LITTLE) experience with HTML and CSS.  I wanted to gain experience in Javascript and specifically Angular so I didn't fidle much with backend code, although I learned a bit of Node.js.
              <br>
              <br>
              Although I did do the design of the site, I wouldn't necessarily it was one of my "design porfolio" pieces.  I was mainly focused on functionality of adding users, tracking, and displaying their information. 
              <br>
              <br>
              </h6>

              <blockquote>
                "Shows that I can learn new technologies and skills rapidly.  Learned completely new tools and systems with a little in-class instruction, and a whole lot of outside of class experimenting. Loved it. "
                <small>John D. Storey (me)</small>
              </blockquote>

              <h6 class="blog-post-sub-title">Libraries/Technologies include Angular, Firebase, jQuery, completely custom CSS and HTML, here is a little sample:</h6>

<pre>
//////VIEW//////

&lt;!-- TAG BOX--&gt;
  &lt;div class='tagBox'&gt;
    &lt;span&gt;Other Tags&nbsp;&lt;/span&gt;&lt;i&gt;(click to vote up)&lt;/i&gt;:&nbsp; 
    &lt;p ng-repeat="tag in selectedPerson.votes | object2Array | orderBy:'value':true" ng-click='upVote(tag.tagName, selectedPerson, userID)'&gt;
    {{ tag.tagName }},&nbsp;
    &lt;/p&gt;
&lt;!-- INPUT TAG --&gt;
    &lt;form ng-submit="tagCreate(tagFromView, selectedPerson, userID)" id='tagCreateForm'&gt;
      &lt;input class='tagName' type='text' name='tagFromView' placeholder='Create new tag' ng-model="tagFromView"&gt;
      &lt;button type='submit'class='btn btn-xs tagBtns' id='submitBtnMinimal'&gt;create&lt;/button&gt;
    &lt;/form&gt;
  &lt;/div&gt;

//////CONTROLLER//////

$scope.upVote = function (tagName, selectedPerson, userID, $filter) {
    console.log('You clicked for up vote');
    if (userID){
        if(selectedPerson.votes[tagName][userID]){
            // tell them they can't vote
            if ( selectedPerson.votes[tagName][userID].type === 1){
                alert('you already voted on this');
            } else {
                selectedPerson.votes[tagName][userID].type=1;
                selectedPerson.votes[tagName].value++;
            }
        } else {
            //create the userId for this tagName
            selectedPerson.lastVote = new Date();
            selectedPerson.votes[tagName][userID] = {type:1};
            selectedPerson.votes[tagName].value++;
        }
        //rewards user for engagment 
        people[userID].overallVotes.value++;
    } else {
        peopleService.loginPrompt();
    }
}
</pre>

            <p>
              Basically I learned alot about how to pass parameters, how to interact with Firebase, and how to manipulate values inside of javascript objects.
            </p>

            </div><!-- /left content -->

              <!-- right content -->
              <div class="col-lg-4  right-hand-bar">

                <hr class="hidden-lg">

                  <h5 class='no-top-margin'>Featurettes</h5>

                  <ul class="list-unstyled  tags  category-tags">
                    <li><a>Coded while at Dev Mountain</a></li>
                    <li><a>Facebook Login</a></li>
                    <li><a>Editable settings for Bio, Website, etc..</a></li>
                    <li><a>Custom Filters for AngularJS</a></li>
                    <li><a>3 way binding with Firebase</a></li>
                    <li><a>Custom CSS animations with Key Frames</a></li>
                    <li><a>Designed Logo :)</a></li>
                  </ul>

              </div><!-- /right content -->

          </div>

        </div><!-- /main-content -->

    <!-- footer -->
    <section class="footer  flush--top">
      <div class="container">
        <div class="row">
          <ul class="list-inline   col-12  col-sm-3  col-lg-2">
            <li><a href="mailto:johndangerstorey@gmail.com">Email</a></li>
            <li><a href="https://www.facebook.com/johndangerstorey" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/johnDANGRstorey" target="_blank">Tweet</a></li> 
            <li><a href="John_Design&Dev.pdf" target='_blank'>Resume</a></li>
          </ul>
<!--           <ul class="list-unstyled  col-12  col-sm-2  col-lg-2">
            <li><a href="index.html">Home</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>
            <li><a href="archives.html">Archives</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul> -->
          <div class="col-12  col-sm-7  col-lg-5  col-lg-offset-3  text-right  go-right">
            <h3 class="footer--main-logo">d.</h3>
            <p>
              The d. Stands For Danger
            </p>
          </div>
        </div>
      </div>
    </section><!-- footer -->

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>

    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- touch effects for hover effects in portfolio section -->
    <script src="js/toucheffects.min.js"></script>
    <script src="js/classie.min.js"></script> 

    <!-- bxSlider js file -->
    <script src="js/jquery.bxslider.js"></script>

    <!-- Envy js -->
    <script src="js/envy.js"></script>

    <!-- Optionally enable responsive features in IE8. Respond.js can be obtained from https://github.com/scottjehl/Respond -->
    <script src="js/respond.min.js"></script>

  </body>
</html>